.header {
  height: 80px;
  background-color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainTitle {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: whitesmoke;
}