#root {
  margin: 0 auto;
  text-align: center;
}

/* src/App.css */
/* Light theme (default) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark theme styles applied when data-theme="dark" */
[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
}

.weatherApp {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 80px;
  width: 100%;
  background-color: gray;
}